@font-face {
	font-family: 'TT Lakes'; 
    src: url('assets/fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('assets/fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/TTLakes-Bold.woff') format('woff'),
        url('assets/fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('assets/fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('assets/fonts/fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/TTLakes-Medium.woff') format('woff'),
        url('assets/fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('assets/fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('assets/fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/TTLakes-Regular.woff') format('woff'),
        url('assets/fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body{
    min-width: 320px;
    margin:0 auto;
    padding:0;
    background-color: #F8F8F8;
    font-family: "TT Lakes", sans-serif;
}
.container{
    margin: 0 auto;
    width: 92%;
}
.header{
    background: #FFFFFF;
    border-bottom: 1px solid #D9FFF5;  
}

.header__raw{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:nowrap;
    margin: 0 auto;
    height: 88px;
}

.header__label{
    margin-left: 16px;
    margin-right: auto;
}

.header__burger{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.header__actions{
    display:flex;
    justify-content:space-between;
    list-style-type: none;
}

.header__actions button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    margin-left: 16px;
}

.header__repair::before {
    content: url('assets/img/divider.svg');
    position:relative;
    margin-left: 4px;
    margin-right: 20px;
}

.title__raw{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:nowrap;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 24px;
}

.title__text::before{
 content: url('assets/img/highlight.svg');
 position:absolute;
 left:0px;
 margin-right: 12px;
}

.title__text{
    font-size: 28px;
}

.title__buttons{
    display:flex;
    justify-content:flex-end;
    list-style-type: none;
}

.title__buttons button{
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    margin-left: 16px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
}

.menu__list{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-wrap:nowrap;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    overflow: scroll;
    white-space: nowrap;
    scrollbar-width: none;
}

.menu__list::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.menu__item{
    text-decoration: none;
    margin: 0;
    color:#7E7E82;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    align-self:start;
    vertical-align: center;
    border: 2px solid transparent;    
}

.menu__item:hover{
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
    padding-left: 16px;
    padding-right: 16px;
}

.review__text{
    display:inline-block;
    color:#7E7E82;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    padding-left: 20px;
}

.review__text:active, 
.review__text:hover,
.review__text {
  text-decoration: none;
}

.about__row{
    margin-top: 24px;
}
.about__article{
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    vertical-align: top;
    text-align: left;
    height: 95px;
    overflow: hidden;
    letter-spacing: 0.2px;
}

p {
    margin-bottom: 1.5em;
   }

.about__button{
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 8px;
}

.about__picture{
    height: auto;
    width: 100%;
}

.header__call,
.header__chat,
.header__profile,
.title__buttons,
.review{
    display: none;
}


@media (min-width: 767px) {
    body{
        min-width: 767px;
    }
    .container{
        margin: 0 auto;
        width: 96%;
    }

    .header__call,
    .header__chat,
    .header__profile{
        display:flex;
    }

    .header__burger::after {
        content: url('assets/img/divider.svg');
        position:relative;
        margin-left: 20px;
        margin-right: 4px;
        position:relative;
    }

    .title__raw{
        margin-bottom: 32px;
    }
    
    .about__article{
        height: 155px;
        margin-right: 24px;
    }

    .about__row{
        display: flex;
        justify-content: space-between;;    
        margin: 0 auto;
        width: 96%;
        margin-top:32px;
        margin-bottom:auto;

    }

    .about__picture{
        max-width: 360px;
        border-radius: 5px; 
    }
}

@media (min-width: 1119px) {
    body{
        min-width: 1119px;
    }
    .container{
        margin: 0 auto;
        width: 97%;
    }

    .header{
        display:none;
    }

    .header__burger::after {
        content: url('assets/img/divider.svg');
        position:relative;
        margin-left: 20px;
        margin-right: 4px;
        position:relative;
    }

    .title__raw{
        margin-top: 42px;
        margin-bottom: 8.37px;
    }
    
    .title__buttons,
    .review{
        display: flex;
    }

    .menu__list{
        margin-bottom: 14.63px;
    }

    .about__article{
        height: 155px;
        margin-right: 24px;
        vertical-align: text-top;
    }

    .about__row{
        display: flex;
        justify-content: space-between;;    
        margin: 0 auto;
        width: 97%;
        margin-top: 19.22px;
        margin-bottom:auto;
    }

    .about__button{
        margin-top: 13.78px;
    }
    .about__picture{
        max-width: 530px;
        border-radius: 5px; 
    }
}
